.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 32px ;
    border: 1px solid #ddd;
    column-gap: 20px;
    padding: 15px;
    background-color: white;
    align-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width:767px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

.form__field {
    padding-left: 10px;
}
@media (max-width:767px) {
    .form__field {
        height:35px;
    }
}


.form__button {
    background: teal;
    color: white;
    border: 1px solid teal;
    border-radius: 2px;
}

@media (max-width:767px) {
    .form__button {
        height: 35px;
        margin-top: 10px;
    }
}