.list {
    list-style-type: none;
    padding-left: 0;
    margin: 20px;
}

.list__item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
   align-items: center;   
}



.list__itemContent--done {
    text-decoration: line-through; 
}

.list__button {
    height: 25px;
    width: 25px;
    color: white;
    border: none;
}

.list__button--done{
    background-color: #2e8832;
}

.list__button--done:active {
    border: 2px solid black;
}

.list__button--done:hover {
    background-color: #28742b;
}

.list__button--remove {
    background: red;
}

.list__button--remove:active {
    border: 2px solid black;
}