.section {
    border: 1px solid #ddd;
    background-color: white;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section__title {
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    border-bottom: 1.5px solid #ddd;   
}

@media (max-width:767px) {
    .section__header {
        grid-template-columns:  1fr;
        padding-bottom: 25px;
        gap:5px;
    }
}

.section__buttons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .section__buttons {
        flex-wrap: wrap;
    }
}

.buttons__button {
    margin: 0 0 0 20px;
    color: teal;
    border: none;
    background-color: white;
    font-size: 15px;
    transition: 1s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

@media (max-width:767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.completeAllButton:disabled {
    color: rgb(184, 179, 179);
}

