.section {
    border: 1px solid #ddd;
    background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.section--listTasks {
    margin-top: 8px;
}

.section__header {
    font-size: 18px;
    font-weight: 700 ;
    padding-left: 15px ;
}

.section--last {
    min-height: 50px;
    margin-bottom: 30px;
}
