.section {
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    ;
}

.section--listTasks {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

}

.section__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.hideShowButton {
    color: teal;
    border: none;
    background-color: white;
    font-size: 15px;
}

.completeAllButton {
    color: teal;
    border: none;
    background-color: white;
    margin-right: 15px;
    font-size: 15px;
}

.completeAllButton:disabled {
    color: rgb(184, 179, 179);
}

.section__header {
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.section--last {
    min-height: 50px;
    margin-bottom: 30px;
}