html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: Montseratt, sans-serif;
    background-color: #eee;
    word-break: break-word;
}

.header {
    margin-left: 10px;
}